
* {
	box-sizing: border-box;
	font-family: 'Didact Gothic', sans-serif;
}

body {
	margin: 0;
	display: block;
	background-image: url('../images/mountains.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

header {
	height: 450px;
	background: 
        url('../images/skywave.jpg') no-repeat center;
	background-size: cover;
}

.nameheader {
	padding-top: 80px;	
	font-size: 8em;
	color: #fad19d;
}

.subnameheader {
	color: #EBEBEB;
}


header h1 {
	text-align: center;
	font-size: 3em;
	color: white;
	margin: 0;
	position: relative;
}



/*----------------------------------*/

.top {
	width: 100%;
	float: left;
	overflow: hidden;
	min-height: 400px;
	background-color: #EBEBEB;
}

.bio {
	float: left;
	width: 66.7%;
	padding: 0 5% 0 10%;
	font-size: 1.5em;
	color: #5C5C5C;
	background-color: #EBEBEB;
	position: relative;
	min-height: 400px;
}

.tech {
	float: left;
	width: 66.7%;
	padding: 0 0 0 5%;
	font-size: 1.5em;
	color: #5C5C5C;
	background-color: #EBEBEB;
	position: relative;
	overflow: hidden;
	height: 650px;
}


/*----------------------------------*/

.sidebar {
	float: left;
	width: 33.3%;
	padding: 0 10% 0 5%;
	background-color: #EBEBEB;
	min-height: 450px;
	position: relative;
	overflow: hidden;
}


.sidebar img {
	margin: 2em 0 0 0;
	width: 100%;
}

.profpic {
	padding: 20px 0 20px 0;

}


/*----------------------------------*/

#bottom {
	width: 100%;
	float: left;
	overflow: hidden;
	min-height: 650px;
}

.anki {
	float: left;
	width: 60%;
	position: absolute;
	padding: 2% 2% 0 7%;
}

.cap2 {
	float: left;
	width: 50%;
	position: absolute;
	padding: 5%;
}


.bgimg {
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); 
	width: 66.7%;
	position: absolute;
  z-index: -1;
}


/*----------------------------------*/


.greybox {
	float: right;
	width: 33.3%;
	padding: 0 2% 0 2%;
	font-size: 1.75em;
	background-color: rgba(250, 250, 250, 0.5);
	height: 650px;
	z-index: 1;
}

.projectdesc {
	float: right;
	width: 33.3%;
	color: black;
	padding: 2.5% 2.5% 0 0;
	background-color: rgba(217, 217, 217, 0.35);
	height: 650px;
	margin: 0;
	z-index: 1;
	
}

.contacts {
	float: right;
	width: 33.3%;
	padding: 2.5% 2.5% 0 0;
	background-color: #DEDEDE;
	height: 650px;
	margin: 0;
}

.contacts h2 {
	font-size: 2em;
	color: #5C5C5C;
	padding: 0;
	margin: -2.5% 0 2.5% 7.5%;
}

ul.imglinks {
	list-style-type: none;
	margin-left: -2.5%;
	font-size: 0;
}

ul.imglinks li {
	display: inline-block;
	padding: 5px;
	margin: 0 0 2.5% 2.5%;
	background: #FFF;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.imglinks li img {
	max-width: 100%;
	height: auto;
	margin: 0;

}

ul.imglinks.column li { 
	width: 47.5%;
}

/*----------------------------------*/

.card {
	float: left;
	width: 13%;
	height: 30%;
	margin: 0 15px;
}

.thumbnail {
	width: 80%;
	margin: auto;
}

.logotitle {
	margin-top: -8px;
	position: relative;
}


.subnavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B5B5B5;
}

.navlinks li {
	float: right;
	display: block;
	text-decoration: none;
	color: #EBEBEB;
	padding: 12px 15px;
}


.subnavbar {
	width: 33.3%;
	float: right;
}

.copyright {
	list-style-type: none;
	padding: 0 0 0 10%;
    margin: 0;
	float: left;
    width: 66.7%;
	background-color: #5C5C5C;
}

.copyright p {
	color: #EBEBEB;
	padding: 12px 15px 12px 0;
	display: block;
	text-decoration: none;
	margin: 0;
}